body {
    background-color: #2F5597;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 2vh;
    line-height: 1;
}

body input {
    border: 0;
    border-radius: 8px;
    font-size: 2vh;
    padding: 10px;
    text-align: center;
    width: 35%;
}

body button {
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: darkgrey 4px 4px;
    color: #2F5597;
    height: 4vh;
    padding: 10px 10px;
    text-align: center;
    vertical-align: middle;
    width: 4vw;
}

body button:active {
    box-shadow: darkgrey 0 0;
    margin-left: 4px;
    margin-top: 4px;
}

/** Status Bar */

#status_bar {
    background-color: whitesmoke;
    bottom: 0;
    height: 2.2vh;
    color: darkslategray;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    vertical-align: bottom;
}

#status {
    height: 1.8vh;
    vertical-align: bottom;
}

#status_bar button {
    height: auto;
    padding: 0 0;
    width: 100px;
    vertical-align: middle;
}

/* Login Screen */

.loginDiv {
    left: 12.5vw;
    position: absolute;
    text-align: center;
    top: 5vh;
    width: 75vw;
}

#logo {
    font-family: 'Bungee Inline', cursive;
    font-size: 10vh;
}


/** Displaying Rooms and New Room */

.roomDiv {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.roomDiv input, .roomDiv select {
    border: 0;
    border-radius: 8px;
    font-size: 2vh;
    padding: 10px;
    width: 90%;
}

.roomDiv th, .roomDiv td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/** Game Buttons / Input */

.gameDiv {
    left: 1vw;
    padding: 8px;
    position: absolute;
}


.gameDiv input {
    font-size: 1.3vh;
    width: 150px;
}

.gameDiv button {
    height: auto;
    width: auto;
    text-align: center;
    vertical-align: middle;
}

/** Game Canvas */

canvas {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}