<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="5.7.198" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.UnitTesting" version="11.0.50727.1" targetFramework="net452" />
  <package id="TestToolsToXunitProxy" version="0.0.4" targetFramework="net452" />
</packages>